# overwrite language detection and stats on GitHub
# https://github.com/github-linguist/linguist/blob/main/docs/overrides.md
*.def linguist-language=tex
*.cfg linguist-language=tex
*.spa linguist-language=tex

# l3build test files and outputs
*.lvt linguist-language=tex
*.pvt linguist-language=tex
*.tlg linguist-generated
*.tpf linguist-generated
