*.aux
*.dmp
*.fd
*.glo
*.gls
*.hd
*.idx
*.ilg
*.ind
*.ins
*.out
*.swp
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.xdv
*~
ctex/README.txt
ctex/ctex-article.def
ctex/ctex-book.def
ctex/ctex-engine-luatex.def
ctex/ctex-engine-pdftex.def
ctex/ctex-engine-xetex.def
ctex/ctex-fontset-adobe.def
ctex/ctex-fontset-fandol.def
ctex/ctex-fontset-founder.def
ctex/ctex-fontset-mac.def
ctex/ctex-fontset-ubuntu.def
ctex/ctex-fontset-windows.def
ctex/ctex-report.def
ctex/ctex.cfg
ctex/ctex.pdf
ctex/ctex.sty
ctex/ctexart.cls
ctex/ctexbook.cls
ctex/ctexcap-gbk.cfg
ctex/ctexcap-utf8.cfg
ctex/ctexcap.sty
ctex/ctexmakespa.tex
ctex/ctexopts.cfg
ctex/ctexrep.cls
ctex/ctexsize.sty
ctex/ctexspa.def
ctex/ctexspamacro.tex
ctex/ctexver.tex
ctex/test*.*
ctex/zhadobefonts.tex
ctex/zhfandolfonts.tex
ctex/zhfounderfonts.tex
ctex/zhubuntufonts.tex
ctex/zhwinfonts.tex
