*.aux
*.dmp
*.fd
*.glo
*.gls
*.hd
*.idx
*.ilg
*.ind
*.ins
*.out
*.swp
*.synctex.gz
*.synctex.gz(busy)
*.tmp
*.toc
*.ver
*.xdv
*.zip
*~

# ctex

ctex/README.txt
ctex/build
ctex/ctex-article.def
ctex/ctex-book.def
ctex/ctex-engine-luatex.def
ctex/ctex-engine-pdftex.def
ctex/ctex-engine-xetex.def
ctex/ctex-fontset-adobe.def
ctex/ctex-fontset-fandol.def
ctex/ctex-fontset-founder.def
ctex/ctex-fontset-mac.def
ctex/ctex-fontset-ubuntu.def
ctex/ctex-fontset-windows.def
ctex/ctex-fontset-windowsnew.def
ctex/ctex-fontset-windowsold.def
ctex/ctex-report.def
ctex/ctex.cfg
ctex/ctex.log
ctex/ctex.pdf
ctex/ctex.sty
ctex/ctexart.cls
ctex/ctexbook.cls
ctex/ctexcap-gbk.cfg
ctex/ctexcap-utf8.cfg
ctex/ctexcap.sty
ctex/ctexmakespa.tex
ctex/ctexopts.cfg
ctex/ctexrep.cls
ctex/ctexsize.sty
ctex/ctexspa.def
ctex/ctexspamacro.tex
ctex/test*.*
ctex/zhadobefonts.tex
ctex/zhfandolfonts.tex
ctex/zhfounderfonts.tex
ctex/zhubuntufonts.tex
ctex/zhwinfonts.tex

# xeCJK

xeCJK/README.txt
xeCJK/UnicodeData.txt
xeCJK/xeCJK-example-CJKecglue.tex
xeCJK/xeCJK-example-CJKfntef.tex
xeCJK/xeCJK-example-CM.tex
xeCJK/xeCJK-example-autofake.tex
xeCJK/xeCJK-example-checksingle.tex
xeCJK/xeCJK-example-fallback.tex
xeCJK/xeCJK-example-listings.tex
xeCJK/xeCJK-example-punctstyle.tex
xeCJK/xeCJK-example-subCJKblock.tex
xeCJK/xeCJK-example-verbatim.tex
xeCJK/xeCJK-listings.sty
xeCJK/xeCJK.cfg
xeCJK/xeCJK.pdf
xeCJK/xeCJK.sty
xeCJK/xeCJKfntef.sty
xeCJK/xunicode-addon.sty
xeCJK/xunicode-combine-marks.tex
xeCJK/xunicode-commands.tex
xeCJK/xunicode-extra.def
xeCJK/xunicode-symbols.pdf
xeCJK/xunicode-symbols.tex

# Mac OS X
.DS_Store

# Liam Huang
ctex/ctex-test*
