*.aux
*.dmp
*.dvi
*.fd
*.fdb_latexmk
*.fls
*.glo
*.gls
*.hd
*.idx
*.ilg
*.ind
*.ins
*.log
*.out
*.swp
*.synctex.gz
*.synctex.gz(busy)
*.tmp
*.toc
*.ver
*.xdv
*.zip
*~

# CJKpunct

CJKpunct/README.md
CJKpunct/build/
CJKpunct/CJKpunct.dvi
CJKpunct/CJKpunct.pdf

# ctex

ctex/README.md
ctex/build/
ctex/ctex-article.def
ctex/ctex-book.def
ctex/ctex-c5size.clo
ctex/ctex-cs4size.clo
ctex/ctex-engine-luatex.def
ctex/ctex-engine-pdftex.def
ctex/ctex-engine-xetex.def
ctex/ctex-fontset-adobe.def
ctex/ctex-fontset-fandol.def
ctex/ctex-fontset-founder.def
ctex/ctex-fontset-mac.def
ctex/ctex-fontset-ubuntu.def
ctex/ctex-fontset-windows.def
ctex/ctex-fontset-windowsnew.def
ctex/ctex-fontset-windowsold.def
ctex/ctex-name-gbk.cfg
ctex/ctex-name-utf8.cfg
ctex/ctex-report.def
ctex/ctex-scheme-chinese-article.def
ctex/ctex-scheme-chinese-book.def
ctex/ctex-scheme-chinese-report.def
ctex/ctex-scheme-chinese.def
ctex/ctex-scheme-plain-article.def
ctex/ctex-scheme-plain-book.def
ctex/ctex-scheme-plain-report.def
ctex/ctex-scheme-plain.def
ctex/ctex.cfg
ctex/ctex.log
ctex/ctex.pdf
ctex/ctex.sty
ctex/ctexart.cls
ctex/ctexbook.cls
ctex/ctexcap.sty
ctex/ctexheading.sty
ctex/ctexmakespa.tex
ctex/ctexopts.cfg
ctex/ctexrep.cls
ctex/ctexsize.sty
ctex/ctexspa.def
ctex/ctexspamacro.tex
ctex/test*.*
ctex/zhadobefonts.tex
ctex/zhfandolfonts.tex
ctex/zhfounderfonts.tex
ctex/zhubuntufonts.tex
ctex/zhwindowsfonts.tex

# tool

tool/*.id
tool/*.db
tool/UnicodeData.txt
tool/fallback.tar.bz2
tool/fallback/
tool/index-big5.txt
tool/index-gb18030-ranges.txt
tool/index-gb18030.txt
tool/texfonts.map
tool/xpinyin.lua
tool/zhmCJK.lua
tool/zhmCJK.map
tool/zhmCJK.tfm

# xeCJK

xeCJK/README.md
xeCJK/UnicodeData.txt
xeCJK/build/
xeCJK/xeCJK-example-CJKecglue.tex
xeCJK/xeCJK-example-CJKfntef.tex
xeCJK/xeCJK-example-CM.tex
xeCJK/xeCJK-example-autofake.tex
xeCJK/xeCJK-example-checksingle.tex
xeCJK/xeCJK-example-fallback.tex
xeCJK/xeCJK-example-listings.tex
xeCJK/xeCJK-example-punctstyle.tex
xeCJK/xeCJK-example-subCJKblock.tex
xeCJK/xeCJK-example-verbatim.tex
xeCJK/xeCJK-listings.sty
xeCJK/xeCJK.cfg
xeCJK/xeCJK.pdf
xeCJK/xeCJK.sty
xeCJK/xeCJKfntef.sty
xeCJK/xunicode-addon.sty
xeCJK/xunicode-combine-marks.tex
xeCJK/xunicode-commands.tex
xeCJK/xunicode-extra.def
xeCJK/xunicode-symbols.pdf
xeCJK/xunicode-symbols.tex

# xCJK2uni

xCJK2uni/*.cmap
xCJK2uni/build/
xCJK2uni/README.md
xCJK2uni/xCJK2uni-make.tex
xCJK2uni/xCJK2uni-sfd.def
xCJK2uni/xCJK2uni-UBg5plus.def
xCJK2uni/xCJK2uni-UBig5.def
xCJK2uni/xCJK2uni-UGB.def
xCJK2uni/xCJK2uni-UGBK.def
xCJK2uni/xCJK2uni-UJIS.def
xCJK2uni/xCJK2uni-UKS.def
xCJK2uni/xCJK2uni.pdf
xCJK2uni/xCJK2uni.sty

# jiazhu

jiazhu/build/
jiazhu/README.md
jiazhu/jiazhu.pdf
jiazhu/jiazhu.sty
jiazhu/jiazhu-test.tex

# xpinyin

xpinyin/build/
xpinyin/README.md
xpinyin/xpinyin.db
xpinyin/xpinyin.lua
xpinyin/xpinyin.pdf
xpinyin/xpinyin.sty
xpinyin/xpinyin-database.def

# zhmCJK

zhmetrics/build/
zhmetrics/README.txt
zhmetrics/zhmCJK.pdf
zhmetrics/zhmCJK.sty
zhmetrics/zhmCJK-test.pdf
zhmetrics/zhmCJK-test.tex

# zhmetrics-uptex
zhmetrics-uptex/*.tfm
zhmetrics-uptex/*.vf
zhmetrics-uptex/*.pdf
zhmetrics-uptex/ctan/*
zhmetrics-uptex/tds/*

# zhnumber

zhnumber/build/
zhnumber/README.md
zhnumber/zhnumber-big5.cfg
zhnumber/zhnumber-gbk.cfg
zhnumber/zhnumber-utf8.cfg
zhnumber/zhnumber.pdf
zhnumber/zhnumber.sty

# zhspacing

zhspacing/build/
zhspacing/zhs-man.pdf

# macOS
.DS_Store

# Liam Huang
ctex/ctex-test*
